.locationBox{
    margin-bottom: 20px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 8px;
    position: relative;
}

input {
    background-color: #fff;
    border: 1px solid #c7c5c5;
    padding: 10px;
    font-size: 12px;
    color: #333;
    width: 250px;
    border-radius: 3px;
  }

.pointsFont{
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}

.address-tickmark-container{
    display: grid;
    height: 50%;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    align-items: center;
}

.address-input-container{
    grid-column-start: 1;
    grid-column-end: 8;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: rgb(122, 193, 66);
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }

  .checkmark__circle_grey {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    background-color: #000000;
  }
  
  .checkmark_grey {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: rgba(105, 103, 103, 0.5);
    border: 1px solid rgb(199,199,199,0.5);
  }

.location-box-top-level{
  display: flex;
  justify-content: space-between;
} 

.removeLocationButton {
  font-size: 15px;
  color: rgb(216, 214, 214);
}

.removeLocationButton:hover {
  cursor: pointer;
  color: rgb(170, 170, 170);
}
