body.active-modal {
    overflow-y: hidden;
}

.loading-modal, .loading-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 20000;
}

.loading-overlay {
    background: rgba(49,49,49,0.8);
}
.loading-modal-content {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20000;
    width: 100%;
    height: 100%;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}